<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
	<appSettings>
		<!--数据库连接-->
		<add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=F:\\工作\\黑龙江省水资源调配管理系统\\WaterResourcesSystem\\Dal\\DB\\SJLT11112030.mdb;"/>
	</appSettings>
</configuration>
